.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

header{
    height: 70px;
    background-color: #ccb0ff;
    display: flex;
    justify-content: space-between;
}

main{
    height: 100vh;
    background-color: #696969;
}